@media only screen and (max-width: 1040px) {
  .side-nav.fixed {
    left: -105%; }

  #page {
    left: 0; }

  #content {
    width: 800px;
    margin: auto; }

  div.backdrop {
    left: 0; }

  div.backdrop-message {
    margin-left: -350px; }

  #footer {
    margin: auto; } }
@media (max-height: 600px) {
  div.ad-container {
    display: none; }

  div.social-sec {
    display: none; } }
@media (min-height: 600px) and (max-height: 700px) {
  div.social-sec {
    display: none; } }
body {
  background: #ededeb; }

a:hover {
  color: inherit;
  text-decoration: none; }

table {
  width: 100%; }

.dropdown-menu {
  min-width: 100px;
  padding: 0; }
  .dropdown-menu a.dropdown-option {
    padding: 0.5rem;
    padding-left: 10px;
    font-size: 14px;
    color: #333; }

.btn {
  line-height: 1.42857143;
  padding: 6px 12px;
  border: 1px solid transparent;
  margin: 0;
  text-transform: capitalize; }

.btn-default {
  background: #fff; }

.btn-link:hover {
  text-decoration: none;
  color: #333; }

i.left {
  margin-right: 5px; }

.row {
  margin: 0; }

input[type="url"].form-control,
input[type="text"].form-control {
  display: inline-block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; }

.header {
  background: #2F416E;
  height: 35px;
  line-height: 35px;
  font-size: 14px;
  text-align: center;
  color: #eee; }

.page {
  position: fixed;
  top: 0;
  left: 240px;
  right: 0;
  bottom: 0; }

.content {
  width: 100%;
  min-width: 800px;
  height: calc(100% - 35px);
  background: #fff;
  overflow: auto; }

.backdrop {
  display: none;
  opacity: 0.65;
  top: 0;
  left: 240px; }

.backdrop-message {
  display: none;
  width: 50rem;
  left: 50%;
  position: absolute;
  margin-left: -240px;
  top: 40%;
  z-index: 1050;
  text-align: center;
  color: white;
  background-color: #222;
  border-color: #333; }
  .backdrop-message p {
    font-size: 16px; }

.footer {
  width: 100%;
  overflow: hidden;
  text-align: center;
  height: 35px;
  line-height: 35px;
  background: #3c3c3c;
  color: #eee; }
  .footer .right-icon-group {
    float: right;
    margin-right: 5px; }
    .footer .right-icon-group a {
      margin: 0;
      padding: 3px 20px; }

.footer .rq-blue {
  margin: 0; }

.footer-title {
  margin-right: 5px;
  padding: 5px 10px;
  font-size: 14px; }

.right {
  float: right; }

.icon-requestly {
  height: 30px;
  position: relative;
  top: -3px; }

.rq-white {
  color: white;
  font-size: 18px;
  text-shadow: 0 0 1px; }

.rq-blue {
  color: #3DA4DF;
  margin-left: -4px;
  font-weight: bold;
  font-size: 18px;
  text-shadow: 0 0 1px;
  font-family: monospace;
  letter-spacing: -2px; }

.content-header {
  padding: 10px;
  color: white;
  font-size: 14px;
  height: 45px;
  line-height: 25px; }

.rq-green {
  background: #5B9027; }

.rq-dimgrey {
  background: dimgrey; }

.content .rule-body {
  padding: 16px; }

.margin-r-0-5 {
  margin-right: 0.5rem; }

/* Left Navigation Bar */
.side-nav a.product-name {
  padding-top: 10px;
  padding-bottom: 10px;
  height: 45px;
  background: dimgrey;
  text-align: center;
  padding-left: 0px;
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  line-height: 25px;
  cursor: default; }
.side-nav .avatar-wrapper {
  padding: 40px;
  background: #ccc;
  cursor: default; }
.side-nav a.product-moto {
  position: absolute;
  top: 235px;
  z-index: 2;
  color: #333;
  text-shadow: 0 0 2px #fff; }
.side-nav li {
  border-top: 1px solid #eee; }
.side-nav a {
  height: 34px;
  line-height: 34px;
  color: #555555; }
.side-nav i {
  margin-right: 10px; }
.side-nav .ad-container {
  position: fixed;
  bottom: 0;
  width: 100%; }
  .side-nav .ad-container.payoneer-ad {
    bottom: 60px;
    width: 240px;
    height: 250px; }
    .side-nav .ad-container.payoneer-ad a {
      padding: 0 !important; }
  .side-nav .ad-container.udemy {
    height: 255px;
    width: 240px;
    text-align: center; }
    .side-nav .ad-container.udemy li {
      border-top: 0;
      display: list-item !important; }
      .side-nav .ad-container.udemy li:hover {
        background: none; }
    .side-nav .ad-container.udemy li.ad-heading i {
      color: gold;
      font-size: 16px;
      margin-right: 0;
      vertical-align: bottom; }
    .side-nav .ad-container.udemy li.text-ad {
      height: 25px; }
      .side-nav .ad-container.udemy li.text-ad a {
        padding: 0; }
    .side-nav .ad-container.udemy li.image-ad a {
      padding: 5px; }
      .side-nav .ad-container.udemy li.image-ad a img {
        height: 175px;
        width: 230px; }
.side-nav .pledgie-campaign {
  padding: 20px 0; }
  .side-nav .pledgie-campaign .pledgie-message {
    font-size: 12px; }

/*# sourceMappingURL=main.css.map */
