$redirect-rule-color: #5b9027;
$cancel-rule-color: #d32a0e;
$replace-rule-color: #2aa5E7;
$headers-rule-color: #dd9d12;

$content-width: 800px;
$content-padding: 16px;
$effective-content-width: 800px - (2*16)px;

