$modification-type-dropdown-width: 85px;
$header-target-dropdown-width: 100px;
$input-group-width: 35%;

@mixin dropdown-container($width) {
  display: inline-block;
  float: left;

  button.dropdown-toggle {
    width: $width;
  }

  ul.dropdown-menu {
    min-width: $width;
  }
}

#headers-rule-editor {
  .pair-container .input-group {
    width: $input-group-width;
    padding: 0 5px;
  }

  .header-modification-type-container {
    @include dropdown-container($modification-type-dropdown-width);  
  }

  .header-target-container {
    @include dropdown-container($header-target-dropdown-width);
  }

  .pair-container:only-child .input-group {
    width: 35%;
  }
}
