/* Left Navigation Bar */
.side-nav {
  a.product-name {
    padding-top: 10px;
    padding-bottom: 10px;
    height: 45px;
    background: dimgrey;
    text-align: center;
    padding-left: 0px;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    line-height: 25px;
    cursor: default;
  }

  .avatar-wrapper {
    padding: 40px;
    background: #ccc;
    cursor: default;
  }

  a.product-moto {
    position: absolute;
    top: 235px;
    z-index: 2;
    color: #333;
    text-shadow: 0 0 2px #fff;
  }

  li {
    border-top: 1px solid #eee;
  }

  li.shared-lists-heading {
    display: none;
  }

  a {
    height: 34px;
    line-height: 34px;
    color: #555555;
  }

  i {
    margin-right: 10px;
  }

  .ad-container {
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  .pledgie-campaign {
    padding: 20px 0;

    .pledgie-message {
      font-size: 12px;
    }
  }
}

/* Show SharedLists in Left rail only when body has shared-rules-enabled class */
body.shared-rules-enabled {
  li.shared-lists-heading {
    display: list-item;
  }
}
