/* Left Navigation Bar */
.side-nav {
  a.product-name {
    padding-top: 10px;
    padding-bottom: 10px;
    height: 45px;
    background: dimgrey;
    text-align: center;
    padding-left: 0px;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    line-height: 25px;
    cursor: default;
  }

  .avatar-wrapper {
    padding: 40px;
    background: #ccc;
    cursor: default;
  }

  a.product-moto {
    position: absolute;
    top: 235px;
    z-index: 2;
    color: #333;
    text-shadow: 0 0 2px #fff;
  }

  li {
    border-top: 1px solid #eee;
  }

  a {
    height: 34px;
    line-height: 34px;
    color: #555555;
  }

  i {
    margin-right: 10px;
  }

  .ad-container {
    position: fixed;
    bottom: 0;
    width: 100%;

    &.payoneer-ad {
      bottom: 60px;
      width: 240px;
      height: 250px;

      a {
        padding: 0 !important;
      }
    }

    &.udemy {
      height: 238px;
      width: 240px;
      text-align: center;

      li {
        border-top: 0;

        &:hover {
          background: none;
        }
      }

      li.text-ad {
        height: 25px;

        a {
          padding: 0;
        }
      }

      li.image-ad {
        a {
          padding: 5px;

          img {
            height: 175px;
            width: 230px;
          }
        }
      }
    }
  }

  .pledgie-campaign {
    padding: 20px 0;

    .pledgie-message {
      font-size: 12px;
    }
  }
}
