@import 'variables';

body {
  background: #ededeb;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

table {
  width: 100%;
}

.dropdown-menu {
  min-width: 100px;
  padding: 0;

  a.dropdown-option {
    padding: 0.5rem;
    padding-left: 10px;
    font-size: 14px;
    color: #333;
  }
}

.btn {
  line-height: 1.42857143;
  padding: 6px 12px;
  border: 1px solid transparent;
  margin: 0;
  text-transform: capitalize;
}

.btn-default {
  background: #fff;
}

.btn-link:hover {
  text-decoration: none;
  color: #333;
}

i.left {
  margin-right: 5px;
}

.row {
  margin: 0;
}

input[type="url"],
input[type="text"] {
  &.form-control {
    display: inline-block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  }
}

.header {
  background: #2F416E;
  height: 45px;
  line-height: 45px;
  font-size: 14px;
  text-align: center;
  color: #eee;
}

.page {
  position: fixed;
  top: 0;
  left: 240px;
  right: 0;
  bottom: 0;
}

.content {
  width: 100%;
  min-width: $content-width;
  height: calc(100% - #{$footer-height});
  background: #fff;
  overflow: auto;
}

.backdrop {
  display: none;
  opacity: 0.65;
  top: 0;
  left: 240px;
}

.backdrop-message {
  display: none;
  width: 50rem;
  left: 50%;
  position: absolute;
  margin-left: -240px;
  top: 40%;
  z-index: 1050;
  text-align: center;
  color: white;
  background-color: #222;
  border-color: #333;

  p {
    font-size: 16px;
  }
}

.right {
  float: right;
}

.icon-requestly {
  height: 30px;
  position: relative;
  top: -3px;
}

.rq-white {
  color: white;
  font-size: 16px;
  text-shadow: 0 0 1px;
}

.content-header {
  padding: 10px;
  color: white;
  font-size: 14px;
  height: 45px;
  line-height: 25px;
}

.rq-green {
  background: #5B9027;
}

.rq-dimgrey {
  background: dimgrey;
}

.content .rule-body {
  padding: 16px;
}

.margin-r-0-5 {
  margin-right: 0.5rem;
}


